<div id="preloader">
  <div id="status"></div>
</div>
<header class="main_header_area">
  <div class="header_menu" id="header_menu">
    <nav class="navbar navbar-default">
      <div class="container">
        <div
          class="navbar-flex d-flex align-items-center justify-content-between w-100 pb-3 pt-3"
        >
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
               <img height="40px" src="images/logo.png" alt="image">
            </a>
          </div>
          <div
            class="navbar-collapse1 d-flex align-items-center"
            id="bs-example-navbar-collapse-1"
          >
            <ul class="nav navbar-nav" id="responsive-menu">
              <li class="<%= nav === '/' ? 'active' : '' %>"><a href="/">Beranda</a></li>
              <li class="<%= nav === 'pariwisata' ? 'active' : '' %>"><a href="/pariwisata" >Pariwisata</a></li>
              <li class="<%= nav === 'penginapan' ? 'active' : '' %>"><a href="/penginapan">Penginapan</a></li>
              <li class="<%= nav === 'restoran' ? 'active' : '' %>"><a href="/restoran">Restoran</a></li>
              <li class="<%= nav === 'gallery' ? 'active' : '' %>"><a href="/gallery">Galeri</a></li>
              <li class="<%= nav === 'about' ? 'active' : '' %>"><a href="/about">Tentang</a></li>
            </ul>
          </div>
          <div class="register-login d-flex align-items-center">
            <a href="https://www.instagram.com/genesis.smanichi/" class="nir-btn white">Instagram</a>
          </div>

          <div id="slicknav-mobile"></div>
        </div>
      </div>
    </nav>
  </div>
</header>
