<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zxx">
  <head>
    <%- include('partials/head') %>
    <title>Galeri | Badung Tourism Navigator</title>
  </head>
  <body>

   <%- include('partials/nav') %>

    <section
      class="breadcrumb-main pb-20 pt-14"
      style="background-image: url('https://images.unsplash.com/photo-1678704545122-ae40f39f8ed1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')"
    >
      <div
        class="section-shape section-shape1 top-inherit bottom-0"
        style="background-image: url(images/shape8.png)"
      ></div>
      <div class="breadcrumb-outer">
        <div class="container">
          <div class="breadcrumb-content text-center">
            <h1 class="mb-3">Galeri</h1>
            <nav aria-label="breadcrumb" class="d-block">
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Beranda</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Galeri
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="dot-overlay"></div>
    </section>

    <div class="gallery pt-6 pb-0">
      <div class="container">
        <div class="section-title mb-6 text-center w-75 mx-auto">
          <h4 class="mb-1 theme1">Galeri Kami</h4>
          <h2 class="mb-1">
           Keindahan Wisata <span class="theme">Badung</span>
          </h2>
          
        </div>
        <div class="row">

          <% data_galery.forEach(galery => { %>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="gallery-item mb-4 rounded overflow-hidden">
                <div class="gallery-image">
                  <img src="<%= galery.image  %>" alt="image" />
                </div>
                <div class="gallery-content">
                  <h5
                    class="white text-center position-absolute bottom-0 pb-4 left-50 mb-0 w-100"
                  >
                    <%= galery.nama  %>
                  </h5>
                  <ul>
                    <li>
                      <a
                        href="<%= galery.image  %>"
                        data-lightbox="gallery"
                        data-title="Title"
                        ><i class="fa fa-eye"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          <% }) %>
          
        </div>
      </div>
    </div>

    <%- include('partials/footer') %>

    <div id="back-to-top">
      <a href="#"></a>
    </div>

    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/particles.js"></script>
    <script src="js/particlerun.js"></script>
    <script src="js/plugin.js"></script>
    <script src="js/main.js"></script>
    <script src="js/custom-swiper.js"></script>
    <script src="js/custom-nav.js"></script>
  </body>
</html>
